* {
    background-color: rgb(255, 255, 255);
}

.imagen {
    text-align: center;
}

.perfilin {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding-top: 2rem;
    display: grid;
}
 p{
    margin: 5px;
 }

 .social {
    padding: 20px;
 }
.fei {
    border-radius: 20px;
}

.nombre {
    font-weight: 700;
    color: darkslategrey;
    border-radius: 15px;
}

a {
    display: grid;
    text-align: center;
}